# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Mekanism jar for compiling (download it, see README)
libs/Mekanism-*.jar

# NeoGradle run directory
runs
